In [65]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np
import csv
import pickle
import html5lib
import requests
import json
from bs4 import BeautifulSoup
import joblib

In [13]:
sp500 = fdr.StockListing('S&P500')

/opt/homebrew/Caskroom/miniforge/base/envs/torch/lib/python3.8/site-packages/FinanceDataReader/wikipedia/listing.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Symbol'] = df['Symbol'].str.replace('\.', '')

In [14]:
sp500

,Symbol,Name,Sector,Industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,AbbVie,Health Care,Pharmaceuticals
3,ABMD,Abiomed,Health Care,Health Care Equipment
4,ACN,Accenture,Information Technology,IT Consulting & Other Services
...,...,...,...,...
500,YUM,Yum! Brands,Consumer Discretionary,Restaurants
501,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
502,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
503,ZION,Zions Bancorp,Financials,Regional Banks
504,ZTS,Zoetis,Health Care,Pharmaceuticals

In [15]:
df_price = pd.DataFrame()

In [16]:
for i in range(0,50):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [19]:
for i in range(50,100):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [21]:
df_price.shape

(10532, 100)

In [22]:
for i in range(100,150):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

/var/folders/zk/h56rlphn0mvdwkkh1ckwxpd00000gn/T/ipykernel_70396/2378275981.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [25]:
for i in range(150,200):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

/var/folders/zk/h56rlphn0mvdwkkh1ckwxpd00000gn/T/ipykernel_70396/3336863812.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [44]:
for i in range(221,222):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [49]:
for i in range(250,300):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [54]:
for i in range(300,350):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

/var/folders/zk/h56rlphn0mvdwkkh1ckwxpd00000gn/T/ipykernel_70396/624039978.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [57]:
for i in range(350,400):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

/var/folders/zk/h56rlphn0mvdwkkh1ckwxpd00000gn/T/ipykernel_70396/2890777029.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [60]:
for i in range(400,450):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

/var/folders/zk/h56rlphn0mvdwkkh1ckwxpd00000gn/T/ipykernel_70396/526503004.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [63]:
for i in range(450, 500):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

/var/folders/zk/h56rlphn0mvdwkkh1ckwxpd00000gn/T/ipykernel_70396/861282098.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [64]:
for i in range(500, 505):
    df_price[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

/var/folders/zk/h56rlphn0mvdwkkh1ckwxpd00000gn/T/ipykernel_70396/3326136892.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[sp500.loc[i].Name] = fdr.DataReader(sp500.loc[i].Symbol, '1979')['Close']

In [65]:
df_price.shape

(10532, 505)

In [66]:
df_price

,3M,Abbott Laboratories,AbbVie,Abiomed,Accenture,Activision Blizzard,Adobe,Advanced Micro Devices,Advance Auto Parts,AES Corp,...,Willis Towers Watson,Wynn Resorts,Xcel Energy,Xilinx,Xylem,Yum! Brands,Zebra Technologies,Zimmer Biomet,Zions Bancorp,Zoetis
Date,,,,,,,,,,,,,,,,,,,,,
1980-03-18,6.08,0.50,NaN,NaN,NaN,NaN,NaN,3.03,NaN,NaN,...,NaN,NaN,4.94,NaN,NaN,NaN,NaN,NaN,1.81,NaN
1980-03-19,6.02,0.51,NaN,NaN,NaN,NaN,NaN,3.04,NaN,NaN,...,NaN,NaN,5.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-03-20,5.98,0.50,NaN,NaN,NaN,NaN,NaN,3.01,NaN,NaN,...,NaN,NaN,5.16,NaN,NaN,NaN,NaN,NaN,1.81,NaN
1980-03-21,5.86,0.50,NaN,NaN,NaN,NaN,NaN,2.92,NaN,NaN,...,NaN,NaN,5.03,NaN,NaN,NaN,NaN,NaN,1.79,NaN
1980-03-24,5.78,0.49,NaN,NaN,NaN,NaN,NaN,2.67,NaN,NaN,...,NaN,NaN,5.03,NaN,NaN,NaN,NaN,NaN,1.71,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-15,175.78,135.56,130.23,315.46,375.30,60.26,630.33,146.50,239.14,24.13,...,234.65,82.71,68.82,217.73,119.75,132.42,598.19,120.68,62.76,232.08
2021-12-16,178.31,136.09,131.78,310.00,400.60,61.49,566.09,138.64,239.16,24.06,...,233.16,80.56,68.95,199.78,118.64,133.59,592.04,120.47,63.47,232.81
2021-12-17,174.75,137.11,129.53,315.55,396.24,61.36,556.64,137.75,232.82,24.09,...,232.88,82.27,67.00,200.14,115.81,131.93,588.52,120.85,61.20,234.31
2021-12-20,172.64,134.98,130.86,316.23,385.78,61.80,549.77,135.80,228.39,23.22,...,231.95,80.79,67.12,196.15,114.05,131.57,570.78,118.89,59.40,234.26
2021-12-21,172.92,135.27,129.95,332.20,392.89,63.59,557.52,144.25,229.57,23.71,...,236.25,86.32,66.34,206.43,115.98,133.37,580.21,122.46,61.65,237.64

In [74]:
df_price_np = df_price.to_numpy()
df_train = np.zeros((251, 3797600))
rate = 0
for i in range(0,505):
    for j in range(250,7770): # 7520
        df_train[0:250,rate] = (df_price_np[j-250:j,i] / df_price_np[j, i])
        df_train[250,rate] = (df_price_np[j+21,i] / df_price_np[j,i])
        rate += 1

df_train = df_train.T


df_test = np.zeros((251, 1271085))
rate = 0
for j in range(7770,10287):
    for i in range(0,505):
        df_test[0:250,rate] = (df_price_np[j-250:j,i] / df_price_np[j, i])
        df_test[250,rate] = (df_price_np[j+21,i] / df_price_np[j,i])
        rate += 1

df_test = df_test.T


df = np.zeros((60095,251))
for i in range(0,119):
    df[505*i:505*i+505,:] = df_test[i*505*21:i*505*21+505,:]
df_test = df

np.nan_to_num(df_train, copy=False)
print('done')

arr = []#np.zeros((1,1)).astype(int)

for i in range(0,3797600):
    for j in range(0,251):
        if i % 100000 == 0 & j == 0:
            print(i)
        if df_train[i,j] == 0:
            #df_train = np.delete(df_train,i, axis= 0)
            arr.append(i)
            continue

arr2 = np.array(arr)
arr2 = np.unique(arr2)
df_train = np.delete(df_train, arr2, axis=0)
df.to_csv('test_uncertainty.csv', index=False)

df_train2 = np.zeros((2217469, 254))
df_train2[:,:251] = df_train[:,:251] 
# 100: 2% increase,010: -2% decrease, 001: none of those

for i in range(len(df_train)):
    if df_train[i,250] >= 1.02:
        df_train2[i,251] = 1
    elif df_train[i,250] <= 0.98:
        df_train2[i,252] = 1
    elif df_train[i,250] >= 0.98 and df_train[i,250] <= 1.02:
        df_train2[i,253] = 1

joblib.dump(df_train2, 'one_hot_train_2%.pkl')
train = joblib.load('one_hot_train_2%.pkl')
train = pd.DataFrame(train)
train.to_csv('train_one_hot_2%.csv',index = False)

for i in range(len(df_test)):
    if df_test[i,0] is not np.NaN:
        for j in range(250):
            if df_test[i,j] is not np.NaN:
                print(df_test[i,:])

df_test2 = np.zeros((60095, 254))

df_test2[:,:251] = df_test[:,:251] 
# 100: 2% increase,010: -2% decrease, 001: none of those

for i in range(len(df_test)):
    if df_test[i,250] >= 1.02:
        df_test2[i,251] = 1
    elif df_test[i,250] <= 0.98:
        df_test2[i,252] = 1
    elif df_test[i,250] >= 0.98 and df_test[i,250] <= 1.02:
        df_test2[i,253] = 1

df_test2 = pd.DataFrame(df_test2)
#joblib.dump(df_test2, "one_hot_test_2%.pkl")
df_test2.to_csv("test_one_hot_2%.csv", index=False)

(10532, 505)